<div class="container-fluid container-navbar">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">TROUVER APP</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <div class="container-fluid container-login">
                    <form action="/logout?_method=DELETE" method="POST">
                        <button type="submit">Log Out</button>
                    </form>
                </div>
            </ul>
        </div>
    </nav>
</div>
<div class="container-fluid container-1">
    <div class="row row-2">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 col-text-1">
            Discover the Best Places to Watch Your Favorite Content!
        </div>
    </div>
    <div class="row row-1">
        <div class="col-sm-3"></div>
        <div class="col-sm-5 col-search-form">
            <input type="text" class="form-control form-control-=md" placeholder="Search Movies and Shows">
        </div>
        <div class="col-sm-1 col-search-btn">
            <button type="button" class="btn btn-dark" data-toggle="collapse" data-target="#demo">Search</button>
        </div>
    </div>
</div>
<div class="container-collapsable">
    <div id="demo" class="collapse">
        <div class="row row-results">
            <div class="col-6 col-md-4 col-lg-3 mb-4">
                <div class="card mx-auto">
                    <div class="card-body card-results">
                        <img src="../public/assets/Untitled-1-Recovered.jpg" class="img-thumbnail" alt="Cinque Terre">
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-4">
                <div class="card mx-auto">
                    <div class="card-body card-results">
                        <img src="../public/assets/Untitled-1-Recovered.jpg" class="img-thumbnail" alt="Cinque Terre">
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-4">
                <div class="card mx-auto">
                    <div class="card-body card-results">
                        <img src="../public/assets/Untitled-1-Recovered.jpg" class="img-thumbnail" alt="Cinque Terre">
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-4">
                <div class="card mx-auto">
                    <div class="card-body card-results">
                        <img src="../public/assets/Untitled-1-Recovered.jpg" class="img-thumbnail" alt="Cinque Terre">
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-4">
                <div class="card mx-auto">
                    <div class="card-body card-results">
                        <img src="../public/assets/Untitled-1-Recovered.jpg" class="img-thumbnail" alt="Cinque Terre">
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-4">
                <div class="card mx-auto">
                    <div class="card-body card-results">
                        <img src="../public/assets/Untitled-1-Recovered.jpg" class="img-thumbnail" alt="Cinque Terre">
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-4">
                <div class="card mx-auto">
                    <div class="card-body card-results">
                        <img src="../public/assets/Untitled-1-Recovered.jpg" class="img-thumbnail" alt="Cinque Terre">
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-4">
                <div class="card mx-auto">
                    <div class="card-body card-results">
                        <img src="../public/assets/Untitled-1-Recovered.jpg" class="img-thumbnail" alt="Cinque Terre">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid container-popular">
    <div class="row row-popular">
        <div class="col-sm-5">
        </div>
        <div class="col-sm-4">
            Current Most Popular
        </div>
    </div>
    <div class="row row-pop-results">
        <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div class="card mx-auto">
                <div class="card-body">
                    <h5 class="card-title">Show Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Platform</h6>
                    <p class="card-text">Show Description: example text example text example text example text
                        example text</p>
                    <a href="#" class="card-link centered">Watch Now!</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div class="card mx-auto">
                <div class="card-body">
                    <h5 class="card-title">Show Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Platform</h6>
                    <p class="card-text">Show Description: example text example text example text example text
                        example text</p>
                    <a href="#" class="card-link centered">Watch Now!</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div class="card mx-auto">
                <div class="card-body">
                    <h5 class="card-title">Show Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Platform</h6>
                    <p class="card-text">Show Description: example text example text example text example text
                        example text</p>
                    <a href="#" class="card-link centered">Watch Now!</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div class="card mx-auto">
                <div class="card-body">
                    <h5 class="card-title">Show Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Platform</h6>
                    <p class="card-text">Show Description: example text example text example text example text
                        example text</p>
                    <a href="#" class="card-link centered">Watch Now!</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div class="card mx-auto">
                <div class="card-body">
                    <h5 class="card-title">Show Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Platform</h6>
                    <p class="card-text">Show Description: example text example text example text example text
                        example text</p>
                    <a href="#" class="card-link centered">Watch Now!</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div class="card mx-auto">
                <div class="card-body">
                    <h5 class="card-title">Show Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Platform</h6>
                    <p class="card-text">Show Description: example text example text example text example text
                        example text</p>
                    <a href="#" class="card-link centered">Watch Now!</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div class="card mx-auto">
                <div class="card-body">
                    <h5 class="card-title">Show Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Platform</h6>
                    <p class="card-text">Show Description: example text example text example text example text
                        example text</p>
                    <a href="#" class="card-link centered">Watch Now!</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 mb-4">
            <div class="card mx-auto">
                <div class="card-body">
                    <h5 class="card-title">Show Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Platform</h6>
                    <p class="card-text">Show Description: example text example text example text example text
                        example text</p>
                    <a href="#" class="card-link centered">Watch Now!</a>
                </div>
            </div>
        </div>
    </div>
</div>