<div class="container-fluid">
    <h3>Register</h3>
    <form action="/register" method="POST">
        <div>
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName" required />
        </div>

        <div>
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName" required />
        </div>

        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required />
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required />
        </div>
        <button type="submit">Register</button> or <a href="/login">Login</a>
    </form>
    <br>
    <a href="/"> Back to home</a>
</div>