.container-1 {
    background-image: url("../assets/bg.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    background-image: url("../assets/Untitled-1-Recovered.jpg");
}

.row-1 {
    padding-top: 1%;
    padding-bottom: 10%;
}

.row-2 {
    padding: 6% 0% 0%;
}

.col-text-1 {
    font-size: 25px;
    font-style: bold;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.container-navbar {
    background-color: rgba(0, 0, 0, .0);

}

.navbar-brand {
    color: white;
    font-size: 32px;
}

.glyphicon-login {
    color: white;
}

.container-popular {
    background-color: black;
    margin-top: -24px;
}

.row-popular {
    padding-top: 2%;
    padding-bottom: 4%;
    color: white;
    font-size: 30px;
    font-family: 'Unica One', cursive;
}

.col-search-btn {
    padding-left: 0px;
}

.col-search-form {
    padding-right: 0px;
}

.row-results {
    padding-top: 2%;
    padding-left: 15%;
    padding-right: 15%;
}

.card-results {
    padding: 0px;
    background-color: white;
}


#app-logo:hover {
    color: white;
}

/* INDEX PAGE ============================================================================== */
.home-background {
    background-image: url("../assets/bg.jpg");
    /* display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    flex-direction: column;
    background-attachment: fixed; */
    -webkit-animation: kenburns-top 3s ease-in alternate-reverse backwards;
    animation: kenburns-top 3s ease-in alternate-reverse backwards;
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@-webkit-keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateX(0);
        transform: scale(1) translateX(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }

    100% {
        -webkit-transform: scale(1) translateX(-15px);
        transform: scale(1) translateX(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}

@keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateX(0);
        transform: scale(1) translateX(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }

    100% {
        -webkit-transform: scale(1.25) translateX(-15px);
        transform: scale(1.25) translateX(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}

.jumbotron {
    background-color: rgba(0, 0, 0, .0);
    padding: 4rem 0rem 0rem;
    color: white;
}

#welcome-message {
    font-size: 2rem;
}

#welcome-message,
#demo {
    padding: 1% 0%;
    margin: 0;
    animation-name: angry-animation;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    transition: 1s;
    animation-fill-mode: forwards;
}

.welcome-items {
    /* mix-blend-mode: difference; */
    animation-name: angry-animation;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    transition: 1s;
    animation-fill-mode: forwards;
}

@keyframes angry-animation {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

#app-logo {
    font-family: 'Titan One', cursive;
    text-decoration: none;
}

a {
    text-decoration: none;
}

#a .login-register,
#logout {
    font-family: 'Unica One', cursive;
}

#logout {
    font-size: 22px;
    color: white;
}

p,
input {
    font-family: 'Raleway', sans-serif;
}

.form-card {
    background-color: rgba(255, 255, 255, .5);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 15px;
    animation-name: angry-animation;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    transition: 1s;
    animation-fill-mode: forwards;
}

.panel-login {
    border-color: #ccc;
}

.panel-login>.panel-heading {
    color: #00415d;
    background-color: rgba(255, 255, 255, .0);
    border-right-width: 1rem;
    border-color: #fff;
    text-align: center;
}

.panel-login>.panel-heading a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 20px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel-login>.panel-heading a.active {
    color: #b30000;
    font-size: 23px;
}

.panel-login>.panel-heading hr {
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.panel-login input[type="text"],
.panel-login input[type="email"],
.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}



.panel-login input:hover,
.panel-login input:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

#login-panel {
    border-right: 1px rgb(85, 85, 85);
    border-right-style: solid;
}

/* .vl {
    border-left: 1px solid green;
    height: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
} */

.btn-login {
    background-color: #b30000;
    outline: none;
    color: #fff;
    font-size: 18px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    /* border-color: #59B2E6; */
}

.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #ff8080;
    border-color: #ff8080;
}

.forgot-password {
    text-decoration: underline;
    color: #888;
}

.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #b30000;
    outline: none;
    color: #fff;
    font-size: 18px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    /* border-color: #1CB94A; */
}

.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #ff8080;
    border-color: #ff8080;
}

/* SEARCH ========================================== */

/* Search 2 */
.search__container {
    padding-top: 5px;
    margin: 0 auto;
}

.search__input {
    width: 600px;
    padding: 16px 24px;


    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 16px;
    line-height: 18px;

    color: white;
    background-color: transparent;
    /*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

    /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E"); */
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 120px;
    border: 2px solid white;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;


    height: 60px;
    animation-name: angry-animation;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.search__input::placeholder {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search__input:hover,
:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 2px solid white;
    border-radius: 0;
    background-position: 100% center;
}

/* POPULAR */
#more {
    display: none;
}

#myBtn {
    padding: 0;
    border: 0;
}

.platforms {
    margin-bottom: 70px;
}

.rounded {
    padding-right: 10px;
}

#search-button {
    background: rgba(0, 0, 0, 0.0);
}



.search-card-title {
    text-align: center;
    margin: 48px auto;
    font-family: 'Unica One', cursive;
    font-size: 30px;

}

.search-card-text {
    margin: 3rem;
    /* padding: 0 72px; */
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.card {
    border: 0;
}

#results,
#reviews {
    margin: 0 72px;
}

.searchBtn {
    color: white;
    border: 0px;
}


.svg-inline--fa {
    display: inline-block;
    font-size: 18px;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

/* Reviews */
.review-area {
    margin: 0 auto 24px;
}

.review-header,
.review-form,
.review-results {
    width: 720px;
    margin: 0px auto;
}

.review-header h2 {
    text-align: center;
    margin: 24px auto 12px;
    font-family: 'Unica One', cursive;
    font-size: 20px;
}

.review-header p {
    text-align: center;
    font-size: 14px;
}

.review-submit {
    margin: 0 auto;
    width: max-content;
}

#submit {
    background-color: #ff8080;
    font-family: 'Unica One', cursive;
    font-size: 18px;
    padding-left: 24px;
    padding-right: 24px;
    border: 0px;
}


#submit:hover,
#submit:focus {
    color: #fff;
    background-color: #b30000;
}